### Python venv ###
/scrapeVenv

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### Tox ###
.tox/
*.egg-info/

### Pycache ###
__pycache__/

### Coverage ###
.coverage
.coverage/

### MyPy ###
.mypy_cache/
